__pycache__/
*.pyc
*.pyo
*.pyd
app.py.1
login.txt
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dmrc
.git-credentials
.gitconfig
.gtkrc-2.0
.gtkrc-xfce
.lesshst
.linuxmint/
.local/
.profile
.sudo_as_admin_successful
.vboxclient-*.pid
.viminfo
.xsession-errors
.xsession-errors.old
